
  <accordion>
    <accordion-group is-open="filter.open">
        <accordion-heading>
            {{ 'Search' | translate}} <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': filter.open, 'glyphicon-chevron-right': !filter.open}"></i>
        </accordion-heading>
        <div class="input-group">
          <span class="input-group-addon" id="basic-addon1">{{'Tag' | translate}}</span>
          <input type="text" ng-model="search.tag" class="form-control" placeholder="{{'Tag' | translate}}" aria-describedby="basic-addon1">
        </div>
        <div class="input-group">
          <span class="input-group-addon" id="basic-addon1">{{'In question' | translate}}</span>
          <input type="text" ng-model="search.fullText" class="form-control" placeholder="{{'In question' | translate}}" aria-describedby="basic-addon1">
        </div>
        <div class="input-group">
          <span class="input-group-addon" id="basic-addon1">{{'In explaination' | translate}}</span>
          <input type="text" ng-model="search.fullExplaination" class="form-control" placeholder="{{'In explaination' | translate}}" aria-describedby="basic-addon1">
        </div>
        <div>
            <button class="btn btn-primary" ng-click="init()">{{'Search' | translate}}</button>
            <button class="btn btn-info" ng-click="init(true)">{{'All' | translate}}</button>
        </div>
    </accordion-group>
  </accordion>


<pagination total-items="paginator.total" ng-model="paginator.page" items-per-page="paginator.pageSize" ng-change="pageChanged()"></pagination>
<div><span class="loading" ng-show="loading"></span></div>
<div class="question-list" ng-show="!loading">
    <div class="dummy-question" ng-click="addQuestion()" ng-class="{'adding-question':addingQuestion}"><span ng-hide="addingQuestion">{{'Add a question' |translate}}</span></div>
    <div class="question" ng-repeat="question in questions">
        <span class="close-button question-delete" ng-click="deleteQuestion(question)" title="{{'Delete' | translate}}"></span>
        <span><a href="#" editable-textarea="question.text" e-rows="7" e-cols="40" onbeforesave="updateQuestion(question, {text:$data})" title="{{'question'|translate}}">
    <div class="edit-markdown" ><div marked="question.text"></div></div>
  </a></span>
        <span ng-show="question.meta.uploading" class="ajax-loader"></span>
        <span ng-if="question.image && !question.meta.uploading" class="picture">
            <img class="picture" ng-src="{{question.image}}"/>
            <span class="clickable" ng-click="updateQuestion(question, {unsetFile:true})">{{'Delete' | translate}}</span>
        </span>
        <span upload="upload($file, question)" ng-caption="{{'Picture' |translate}}"></span>
        <tags-input ng-model="question.tags" on-tag-added="updateQuestion(question, {tags:question.tags})" on-tag-removed="updateQuestion(question, {tags:question.tags})"></tags-input>
        <ul class="choices-edit">
            <li ng-repeat="choice in question.choices" class="choice" ng-class="{'deleting-choice':choice.$deleted}">
                <span ng-class="{'radio-empty':!isMultichoice(question),'check-empty':!sMultichoice(question)}"></span>
                <span class="badge" ng-class="{wrong:(choice.scoring<=0), right:(choice.scoring>0)}"><a href="#" editable-number="choice.scoring" onbeforesave="updateChoice({choiceId:choice.objectId, scoring:$data})" title="{{'Score' | translate}}">{{ choice.scoring || '0' }}</a></span>
                <a href="#" editable-text="choice.text" onbeforesave="updateChoice({choiceId:choice.objectId, text:$data})">{{ choice.text || 'empty' }}</a>
                <span class="delete-choice close-button" ng-click="deleteChoice(question, choice)" title="{{'Delete' | translate}}"></span>
            </li>
            <li class="dummy-choice" ng-click="addChoice(question)" ng-hide="question.$addingChoice">{{'New choice' | translate}}</li>
        </ul>
        <span><a href="#" editable-textarea="question.explaination" e-rows="7" e-cols="40" onbeforesave="updateQuestion(question, {explaination:$data})" title="{{'explaination'|translate}}">
        <div class="edit-markdown" ><div marked="question.explaination"></div></div>
  </a></span>
    </div>
</div>
<pagination total-items="paginator.total" ng-model="paginator.page" items-per-page="paginator.pageSize" ng-change="pageChanged()"></pagination>