<div class="modal-header">
    <h3 class="modal-title quiz-icon">{{'How to' | translate}}</h3>
</div>
<div class="modal-body">
    <p>Commencer par ajouter une nouvelle question en cliquant sur "Ajouter une nouvelle question". Une boîte rouge apparaîtra. Elle est rouge car votre question n'est pas publiée (même si elle est enregistrée en base de données). Vous publierez votre question que lorsqu'elle sera entièrement rédigée</p>
    <p>Toutes les actions que vous faîtes sont sauvegardées en direct (il n'y a pas de bouton valider). Faites donc attention ! par exemple, supprimer une question est irréversible</p>
    <p>Dans la case "Votre question", entrez votre question</p>
    <p>Obligez-vous à ajouter des tags (ceci pour faciliter les recherches ultérieurement)</p>
    <p>Ajouter autant de choix que vous désirez en cliquant sur "Nouveau choix"</p>
    <p>Un choix sera correct si le numéro dans la bulle rouge ou verte est positif (strictement). Si ce numéro est nul ou inférieur à zéro, c'est une mauvaise réponse</p>
    <p>Dans le dernier cadre ajoutez l'explication. Si vous voulez de l'italique ou du gras, utilisez le <a target="_blank" href="http://fr.wikipedia.org/wiki/Markdown">langage markdown</a>. Pour faire un renvoi ver un point de règle, utilisez la notation suivante (ici, renvoi vers le point 9.3.3 des règles 2014):  <b>[2014-9.3.3](/#rules2014/9.3.3)</b></p>
</div>
<div class="modal-footer">
    <button class="btn btn-warning" ng-click="close()">{{'Close' | translate}}</button>
</div>
