<div class="simulator-control" ng-show="admin">
    <h1><a href="#" editable-text="animations[getIndex()].title" title="{{'Title' | translate}}">{{ animations[getIndex()].title || 'none' }}</a></h1><span class="play-button" ng-click="launchAnimation()"></span>
    <p><a href="#" editable-textarea="animations[getIndex()].explaination" title="{{'Explaination' | translate}}">{{ animations[getIndex()].explaination || 'none' }}</a></p>
    {{'Order' | translate }}: <a href="#" editable-number="animations[getIndex()].order" title="{{'Order' | translate}}">{{ animations[getIndex()].order || '0' }}</a>
</div>
<div class="simulator-control" ng-hide="admin">
    <h1>{{animations[getIndex()].title}}</h1><span class="play-button" ng-click="launchAnimation()"></span>
    <p>{{animations[getIndex()].explaination}}</p>
</div>
<div>
    <div roller-derby-game="scene" interactive="true" class="simulator"></div>
    <div style="display:inline-block;vertical-align:top" ng-show="admin">
            <h2>Control</h2>
            <select ng-model="currentPlayer" ng-options="opt as opt.label for opt in players">
            </select>
            <div>
                <div ng-repeat="animation in currentPlayer.value.animations" style="border:solid 1px gray">
                    <div>Animation {{$index+1}}</div>
                    <div ng-repeat="keyframe in animation.keyFrames" style="border:solid 1px blue; margin:5px;padding:5px">
                        <div>Keyframe {{keyframe.name}} <span style="cursor:pointer" ng-click="animation.removeKeyframe(keyframe)">X</span></div>
                        <a href="#" editable-number="keyframe.milliseconds" title="{{'Milliseconds' | translate}}">{{ keyframe.milliseconds || '0' }}</a>
                    </div>
                    <span style="cursor:pointer;background:#88dd88;padding:2px;margin:5px;display:block" ng-click="addKeyframe(animation)">Add Keyframe</span>
                    <span style="cursor:pointer;background:#88dd88;padding:2px;margin:5px;display:block" ng-click="launchPlayerAnimation(currentPlayer.value, $index)">Test</span>
                </div>
            </div>
            <span style="cursor:pointer;background:#88dd88;padding:2px;margin:5px;display:block" ng-click="addAnimationToCurrent()" ng-hide="currentPlayer.value.animations.length>0">Add animation</span>
        </div>
</div>
<div><pagination boundary-links="true" total-items="getSize()" ng-model="index" class="pagination-sm" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;" items-per-page="1"></pagination></div>
<button ng-show="admin" class="btn btn-primary" ng-click="add()">{{'Add' | translate}}</button>